body {
    font-family: 'Montserrat', sans-serif;
    background: #f4f4f4;
}

.background{
 background: #f4f4f4;
 }

 .container{
 border-radius: 30px;
 margin: 3%;
 background: #FFFFFF;
 padding: 2%
 }

 .slider{
    font-size: 16px;
 }

.rc-slider-mark-text{
    transform: rotate(50deg) !important;
}