body {
    font-family: 'Montserrat', sans-serif;
    background: #f4f4f4;
}

.background{
    background: #f4f4f4;
 }

 .container{
 border-radius: 30px;
 margin: 3%;
 background: #FFFFFF;
 padding: 2%;
 box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18)
 }

 .slider{
    font-size: 16px;
 }

.rc-slider-mark-text{
    transform: rotate(50deg) !important;
}